.item-grid-container {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding-bottom: 120px !important;
}
@media (max-width: 1300px) {
  .item-grid-container {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 1000px) {
  .item-grid-container {
    padding: 10px 10px;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .item-grid-container {
    grid-template-columns: auto;
  }
}
